@{
    ViewData["Title"] = "等級介紹";
    ViewData["enTitle"] = "introduce";
}
@section Style{

    <link href="~/css/level.css" rel="stylesheet" />
}
<div class="about_space about_lev">
    <div class="sell-lev">
        <p class="">SELLING</p>
        <p class="">SELLING</p>
        <p class="">SELLING</p>
        <p class="">SELLING</p>
    </div>

    <div class="container">
        <div class="join_info_content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tx_warp">
                        <!-- wow fadeInLeft / wow fadeInRight / wow fadeInUp / wow fadeInDown -->
                        <div class="title_lev">SELLING ON S.E.I.G</div>
                        <h1 class="lev-h1">Sell. Get Paid. Repeat.</h1>
                        <a asp-controller="Home" asp-action="index"  class="btn-lev">
                            Get Started
                            +++++
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image_warp">
                        <img src="https://d2p887mzam0wn6.cloudfront.net/production/uploads/2020/11/Data-Center-519A7223-2610-1200x800.jpg">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="about_space about_lev">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="sell-pg_benefits-content">
                    <!-- 二區-1 -->
                    <div class="selling-pg__benefits-item">
                        <p class="selling-pg__benefits-item-num">01</p>
                        <div class="sell-pg-div">
                            <h2 class="headline headline--4">
                                <p>快速銷售</p>
                            </h2>
                            <p class="selling-pg__benefits-item-content">
                            <p>只需搜索您的產品並設定價格</p>
                            <p>您不需要拍攝產品照片、分享個人信息或與潛在買家談判。</p>
                            </p>
                        </div>
                        </p>
                    </div>
                    <!-- 二區-2 -->
                    <div class="selling-pg__benefits-item">
                        <p class="selling-pg__benefits-item-num">02</p>>
                        <div class="sell-pg-div">
                            <h2 class="headline headline--4">
                                <p>達到目標</p>
                            </h2>
                            <p class="selling-pg__benefits-item-content">
                                我們持續擴張影響力。您一定會發現等不及要購買您所售商品的人。
                            </p>
                        </div>
                        </p>
                    </div>
                    <!-- 二區-3 -->
                    <div class="selling-pg__benefits-item">

                        <p class="selling-pg__benefits-item-num">03</p>>

                        <div class="sell-pg-div">
                            <h2 class="headline headline--4">
                                <p>解鎖優惠</p>
                            </h2>
                            <p class="selling-pg__benefits-item-content">
                                我們為擁有業內最低的佣金率而感到自豪，我們希望對實現這一目標表示感謝。你賣得越多，你的利率就越低。
                            </p>
                        </div>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- 二區-圖片 -->
        <img class="selling-pg__benefits-img"
             src="https://stockx.com/about/wp-content/themes/sx-about/assets/dist/images/stockx-globe-2021.gif">
    </div>
</div>

<div class="about_space about_lev_3">
    <div class="container about_lev_con">
        <div class="row">
            <div class="col-lg-5 col-12">
                <!-- 三區-按鈕區 -->
                <div class="selling-pg_step-intro">
                    <h2 class="step-steps">通過 4 個簡單的步驟開始銷售</h2>
                    <a class="btn-step" asp-controller="D_Personal" asp-action="index">
                        Get Started
                        +++++
                    </a>
                </div>
            </div>
            <div class="col-lg-7 col-12">
                <div class="selling-pg__steps-wrapper">
                    <div class="selling-pg__steps-item">
                        <div class="selling-pg__steps-circle">
                            <img class="selling-pg__steps-icon"
                                 src="https://d2p887mzam0wn6.cloudfront.net/production/uploads/2021/04/approval2021.png"
                                 alt="">
                        </div>
                        <!-- 1 -->
                        <div class="selling-pg__steps-content">
                            <h3 class="headline headline--4">
                                <p>無需批准！註冊並出售</p>
                            </h3>
                            <div class="selling-pg__steps-text">
                                <p>
                                    <span style="font-weight: 400;">
                                        <p>你的收入，你的規則。</p>
                                    </span><span style="font-weight: 400;">
                                        <p>您所要做的就是從我們的可用選項中選擇一種支付方式和貨幣。</p>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="selling-pg__steps-item">
                        <div class="selling-pg__steps-circle">
                            <img class="selling-pg__steps-icon"
                                 src="	https://d2p887mzam0wn6.cloudfront.net/production/uploads/2021/04/create2021.png"
                                 alt="">
                        </div>
                        <div class="selling-pg__steps-content">
                            <h3 class="headline headline--4">
                                <p>創建更智能的列表</p>
                            </h3>
                            <div class="selling-pg__steps-text">
                                <p>
                                    <span style="font-weight: 400;">
                                        <p>使用我們市場上每件商品的歷史銷售數據來決定何時銷售以及如何銷售。</p>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="selling-pg__steps-item">
                        <div class="selling-pg__steps-circle">
                            <img class="selling-pg__steps-icon"
                                 src="https://d2p887mzam0wn6.cloudfront.net/production/uploads/2021/04/ship2021.png"
                                 alt="">
                        </div>
                        <div class="selling-pg__steps-content">
                            <h3 class="headline headline--4">
                                <p>將您售出的物品寄給我們</p>
                            </h3>
                            <div class="selling-pg__steps-text">
                                <p>
                                    <span style="font-weight: 400;">
                                        <p>我們要求您在兩個工作日內將售出的物品寄給我們。只需打印我們發送的標籤並遵循我們的運輸指南，即可確保您的產品安全到達我們的認證中心。</p>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="selling-pg__steps-item">
                        <div class="selling-pg__steps-circle">
                            <img class="selling-pg__steps-icon"
                                 src="	https://d2p887mzam0wn6.cloudfront.net/production/uploads/2021/04/paid2021.png"
                                 alt="">
                        </div>
                        <div class="selling-pg__steps-content">
                            <h3 class="headline headline--4">
                                <p>得到報酬！</p>
                            </h3>
                            <div class="selling-pg__steps-text">
                                <p>
                                    <span style="font-weight: 400;">
                                        <p>
                                            一旦我們確認您售出的商品是新的並且經過 StockX
                                            驗證，
                                        </p>
                                    </span><span style="font-weight: 400;">
                                        <p>我們就會立即發放您的款項。</p>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about_space about_lev_4">
    <div class="container about_lev_con">
        <div class="row">
            <div class="col-lg-5 col-12">
                <div class="selling-pg__instrcutions-content">
                    <h2 class="headline headline--2">控制你的銷售方式</h2>
                    <div class="selling-pg__instrcutions-text">
                        <p>您可以發出詢價或立即賣出。</p>
                    </div>
                    <div>
                        <p>
                            詢價可讓您選擇您希望以何種價格出售您的物品。如果您的要價最低，則發出匹配出價的買家將自動向您購買。尋找更快的解決方案？在產品頁面上選擇“立即出售”以當場以最高出價出售您的物品。
                        </p>
                    </div>
                    <a class="btn btn-lev-4 selling-pg__instrcutions-button" asp-controller="product_list" asp-action="index"
                       ><span>立即前往</span><span class="btn__plus"> Go Go Go</span></a>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <img src="https://d2p887mzam0wn6.cloudfront.net/production/uploads/2021/10/how-to-sell2021oct.jpg"
                     alt="lev商品圖片">
            </div>
        </div>
    </div>
</div>



<div class="about_space about_lev_5">
    <h2 class="headline headline--2 col-sm-12">在S.I.E.G升級並享受福利</h2>
    <div class="container about_lev_con">
        <div class="container">
            <h2 class="headline headline--2">
            </h2>
            <!-- <p class="selling-pg__levels-description">
                等級將會以每三個月為一個週期歸零重新計算
            </p> -->
            <!-- 電腦版 -->
            <table class="selling-pg__levels-table">
                <tbody>
                    <tr class="selling-pg__levels-row">
                        <th class="selling-pg__levels-headline"></th>
                        <th class="selling-pg__levels-headline headline headline--7">
                            <p>1級</p>
                        </th>
                        <th class="selling-pg__levels-headline headline headline--7">
                            <p>2級</p>
                        </th>
                        <th class="selling-pg__levels-headline headline headline--7">
                            <p>3級</p>
                        </th>
                        <!-- <th class="selling-pg__levels-headline headline headline--7">
                            <p>4級</p>
                        </th>
                        <th class="selling-pg__levels-headline headline headline--7">
                            <p>5級</p>
                        </th> -->
                    </tr>
                    <tr class="selling-pg__levels-row">
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>買家升等條件</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>50,000元</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>100,000元</p>

                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>700,000元</p>

                        </td>
                        <!-- <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>15,000元</p>

                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>20,000元</p>

                        </td> -->
                    </tr>
                    <tr class="selling-pg__levels-row">
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>賣家升等所需銷售額</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>150,000元</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>300,000元</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>900,000元</p>
                        </td>
                        <!-- <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>15,000元</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>20,000元</p>
                        </td> -->
                    </tr>
                    <tr class="selling-pg__levels-row">
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>賣家手續費</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>12.0%</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>10.0%</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>8.0%</p>
                        </td>
                        <!-- <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>6.0%</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>4.0%</p>
                        </td> -->
                    </tr>
                    <tr class="selling-pg__levels-row">
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <p>買家獎勵優惠</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated usr-generated--v2">
                            <p>-</p>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <ul>
                                <li style="text-align: left;">
                                    <p>免運優惠券*1</p>
                                </li>
                            </ul>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <ul>
                                <li style="text-align: left;">
                                    <p>免運優惠券*2</p>
                                </li>
                            </ul>
                        </td>
                        <!-- <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <ul>
                                <li style="text-align: left;">
                                    <p><a href="product_list.html">
                                            <p>享受高達 6.0% 的手續費用折扣</p>
                                        </a>
                                <li style="text-align: left;">
                                    <p>免運優惠券*2</p>
                                </li>
                                </p><a href="https://stockx.com/help/articles/What-is-the-StockX-Seller-Program">
                                    <p></p>
                                </a>
                                </li>
                            </ul>
                        </td>
                        <td class="selling-pg__levels-data user-generated user-generated--v2">
                            <ul>
                                <li style="text-align: left;">
                                    <p><a href="product_list.html">
                                            <p>享受高達 4.0% 的手續費用折扣</p>
                                        </a>
                                <li style="text-align: left;">
                                    <p>免運優惠券*2</p>
                                </li>
                                </p><a href="https://stockx.com/help/articles/What-is-the-StockX-Seller-Program">
                                    <p></p>
                                </a>
                                </li>
                                <li style="text-align: left;">
                                    <p>散裝運輸（僅在某些國家/地區可用）</p>
                                </li>

                                <li style="text-align: left;">
                                    <p>高級銷售員指導</p>
                                </li>
                            </ul>
                            <h6 style="text-align: left;"><strong><a href="about.html">
                                        <p>點擊詳細了解我們的經營理念</p>
                                    </a></strong></h6>
                        </td> -->
                    </tr>
                </tbody>
            </table>
            <!-- 手機版 -->
            <div class="selling-pg__levels-mobile">
                <!-- 1 -->
                <div class="selling-pg__levels-mcontent">
                    <button class="lev-btn sell-btn-1" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                        第一級
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>買家升等條件</p>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>50,000元</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>賣家升等所需銷售額</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>15,000元</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>手續費</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>12.0%</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>獎勵和高級功能</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated usr-generated--v2">
                                <p>-</p>
                            </td>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div class="selling-pg__levels-mcontent">
                    <button class="lev-btn sell-btn-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample2" aria-expanded="false"
                            aria-controls="collapseExample2">
                        第二級
                    </button>
                    <div class="collapse" id="collapseExample2">
                        <div class="card card-body">
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>買家升等條件</p>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>100,000元</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>賣家升等所需銷售額</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>300,000元</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>手續費</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>10.0%</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>獎勵和高級功能</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <ul>
                                    <li style="text-align: left;">
                                        <p>免運優惠券*1</p>
                                    </li>
                                </ul>
                            </td>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div class="selling-pg__levels-mcontent">
                    <button class="lev-btn sell-btn-3" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample3" aria-expanded="false"
                            aria-controls="collapseExample3">
                        第三級
                    </button>
                    <div class="collapse" id="collapseExample3">
                        <div class="card card-body">
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>買家升等條件</p>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>700,000元</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>賣家升等所需銷售額</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>900,000元</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>手續費</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>8.0%</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <p>獎勵和高級功能</p>
                            </td>
                            <td class="selling-pg__levels-data user-generated user-generated--v2">
                                <ul>
                                    <li style="text-align: left;">
                                        <p>免運優惠券*2</p>
                                    </li>
                                </ul>
                            </td>
                        </div>
                    </div>
                </div>

            </div>


            <div class="selling-pg__levels-disclaimer">
                <p>注意：沒有註冊成為會員的客人是不能自動升級成為會員的，客人必需先註冊成為基本會員才能後續升級。</p>
                <p>尚未消費的會員會為「一般會員」，「一般會員」並不支援設定會員默認全店折扣優惠。</p>
                <p>系統僅會檢查訂單狀態為「未取消」 和 付款狀態為「已付款」 訂單的累積金額是否符合升級條件，若會員下單後要求取消訂單，因而不符合升級資格</p>
                <p>您必須持續買賣才能維持您的級別。</p>
                <p>一旦達到下一級別的銷售要求，您可以隨時升級。</p>
            </div>
        </div>
    </div>
</div>
