
<!-- 右邊內容 -->
<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- 新增btn & 手機板選單 -->
        <div class="top_nav justify-content-xl-end justify-content-between">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>
            <div>
                <div class="d-inline-block">
                    <a class="category_btn" asp-controller="news" asp-action="category">
                        <i class="bx bx-list-ul"></i>
                        <span>分類管理</span>
                    </a>
                </div>
                <div class="d-inline-block">
                    <a class="add_btn" asp-controller="news" asp-action="add">
                        <i class="bx bx-plus"></i>
                        <span>新增</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- 顯示資訊 -->
        <div class="card" id="newsVue">
            <div class="table-responsive text-nowrap">
                <table class="table banner_table">
                    <thead>
                        <tr>
                            <th class="img">圖片</th>
                            <th class="title">標題</th>
                            <th class="link">發佈日期</th>
                            <th class="view">瀏覽數</th>
                            <th class="state">狀態</th>
                            <th class="btn"></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        <tr v-for="item in NewsDTO">
                            <td>
                                <img :src="'https://localhost:7002'+item.newslistImg">
                            </td>
                            <td>
                                <div class="one-row">{{item.newslistTitle}}</div>
                            </td>
                            <td>
                                <div>{{item.newslistDate}}</div>
                            </td>
                            <td>
                                <div>{{item.newslistviewcount}}</div>
                            </td>
                            <td>
                                <div>{{item.newsState}}</div>
                            </td>
                            <td>
                                <div class="tb_btn edit">
                                    <a @@click="editNews(item.newslistId)">
                                        <i class="bx bx-pencil"></i>
                                    </a>
                                </div>
                                <div class="tb_btn del" @@click="deleteNews(item.newslistId)">
                                    <a>
                                        <i class="bx bx-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        $(".back_news").addClass('active');

        var webApiBaseAddress = "https://localhost:7139";
        var appVue = new Vue({
            el: "#newsVue",
            name: "newsVue",
            data: {
                NewsDTO: [],
                newslistId: null,
                newslistImg: null,
                newslistTitle: null,
                newslistDate: null,
                newslistviewcount: null,
                newsState: null,
            },
            mounted: function () {
                let _this = this;
                _this.getNewsDTO();
            },
            methods: {
                getNewsDTO: async function () {
                    let _this = this;
                    let response = await axios.get(`${webApiBaseAddress}/api/E_NewsList/Boss`);
                    _this.NewsDTO = response.data;
                    var NewsList = [];
                    for (let i = 0; i < _this.NewsDTO.length; i++) {
                        let item = {};
                        item = _this.NewsDTO[i];
                        NewsList.push(item);
                        console.log(item);

                        var str2 = item.newslistTime;
                        item.newslistDate = str2.split("T")[0];

                        var str = item.newsValIdity;
                        if (str == false) {
                            item.newsState = "不顯示"
                        }
                        else {
                            item.newsState = "顯示"
                        }
                    }
                },
                deleteNews: function (id) {
                    let _this = this;
                    var ret = confirm("確定要刪除嗎?");
                    if (ret == true) {
                        axios.delete(`${webApiBaseAddress}/api/E_NewsList/${id}`).then(
                            response => {
                                //alert(response.data);
                                Swal.fire({
                                    icon: 'success',
                                    title: '刪除成功！',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                                _this.getNewsDTO();
                            }
                        );
                    }
                },
                editNews: function (nID) {
                    sessionStorage.setItem("nID", nID);
                    window.location = "/news/edit";
                },
            },
        });

    </script>
}